{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <style type="text/css">
      .variants li {
          width: 500px;
          height: 60px;
          max-height: 60px;
          padding: 11px;
          background-color: #0066cc;
          margin-top: 15px;
          border-radius: 10px;
          list-style-type: none;
          color: #fff;
      }

      .variants li:hover {
          background-color: #1e3262;
      }

  </style>

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="row">
        <div class="col-md-12 col-md-offset-2" style="margin-left: 0%;">
          <form method="post">
            {% csrf_token %}
            <h3 class="page-title">Добавить новую вакансию</h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{ form.title|as_crispy_field }}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Рыночное название вакансии <span class="text-danger">*</span></label>
                  <input class="form-control " value="Аналитик Big Data" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                  {{ form.level|as_crispy_field }}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Направление</label>
                  <input class="form-control" value="Аналитика" type="text">
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Отдел</label>
                  <select class="form-control select">
                    <option>Разработки</option>
                    <option>Информационной безопасности</option>
                    <option>Облачные сервисы</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Ответственный менеджер</label>
                  <input class="form-control" value="Победова В.В." type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 col-md-6 col-lg-3" style="margin-left: -15px;">
                  <div class="form-group">
                    {{ form.salary_min|as_crispy_field }} {{ form.salary_max|as_crispy_field }}
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" style="margin-left: 10px;">
                  <div class="form-group">
                    <label>Анализ ЗП по рынку</label>
                    <p style="color: red;"><b>На 30% ниже рынка</b></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.teaser|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.description|as_crispy_field }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="variants" style="margin-top: 40px;">
                    <ul>
                      <li>Проектировать и разрабатывать витрины данных для моделирования, аналитики и отчетности</li>
                      <li>Участвовать в проработке архитектуры data flow и модели данных</li>
                      <li>Налаживать регулярные процессы подготовки и поставки данных для продуктовых команд и data
                        scientist-ов
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="variants" style="margin-top: 40px;">
                      {{ form.hard_requirements|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="variants" style="margin-top: 40px;">
                    <ul>
                      <li>Опыт работы с Oracle</li>
                      <li>Опыт работы с MS SQL</li>
                      <li>Знает теории реляционных СУБД, основных понятий и концепций Data Warehousing и Big Data</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.working_conditions|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 m-t-20" style="margin-left: 40px; margin-right: -150px;">
                  <input type="checkbox" name="option2" value="a2" style="margin-right: 10px;">HH.ru<Br>
                  <input type="checkbox" name="option2" value="a2" style="margin-right: 10px;">Rabota.ru<Br>
                  <input type="checkbox" name="option2" value="a2" style="margin-right: 10px;">Geekjob<Br>
                </div>
                <div class="col-sm-3 m-t-20">
                  <button type="submit" class="btn btn-primary"
                          style="background-color: #1e3262; border: #0066cc; height: 49px;">ОПУБЛИКОВАТЬ
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}